@import '../../stylesheets/utils/variables';


$newMessageInputHeight: 60px;


#Chat {
  padding: 1rem;

  .content {
    margin-bottom: $newMessageInputHeight;

    .timeline {
      position: fixed;
      top: 0;
      left: 26px;
      bottom: 0;
      border-left: 1px solid $lightgray;
      z-index: -1;
    }
  }

  .new-message {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: $newMessageInputHeight;

    background: $primary;

    .Input {
      input {
        color: $white;
        font-size: 1rem;
        border-bottom: 0;

        &::-webkit-input-placeholder { color: $white; font-size: 1rem; }
        &:-moz-placeholder { color: $white; font-size: 1rem; }
        &::-moz-placeholder { color: $white; font-size: 1rem; }
        &:-ms-input-placeholder { color: $white; font-size: 1rem; }
      }
    }
  }
}
