@import '../../../stylesheets/utils/variables';


.Button {
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  border: 0;
  outline: none;

  width: 34px;
  height: 34px;

  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;

  &.ActionButton {
    background: $primary;
    color: $white;
    padding: 9px;

    &:hover {
      background: $secondary;
    }
  }

  &:hover {
    background: $lightgray;
  }

  .Symbol {
    .icon::before {
      display: flex;

      font-size: 2rem;
    }
  }
}
