@import '../utils/variables';
@import '../base/typography';

html, body {
  margin: 0;
  padding: 0;
}

#leinwand {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: scroll;

  background: $white;
  font: 16px $Avenir;
  color: $dark;
}


.view {
  height: 100%;
  width: 100%;
}

.content {
  margin-top: 44px;
}


h1 {
  font-size: 2rem;
  font-weight: 300;
  margin: 0;
}

a {
  color: $primary;

  &:hover, &:visited {
    color: $secondary;
  }
}


.clickable {
  cursor: pointer;
}


/// Colors

.bg-primary {
  background: $primary;
}
.bg-secondary {
  background: $secondary;
}
.bg-gray {
  background: $gray;
}
.bg-lightgray {
  background: $lightgray;
}


.border-primary {
  border: 2.5px solid $primary;
}
.border-secondary {
  border: 2.5px solid $secondary;
}


.color-primary {
  color: $primary;
}
.color-secondary {
  color: $secondary;
}
.color-white {
  color: $white;
}


/// Layout

.text-align-center {
  text-align: center;
}

.row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row-start {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
}

.row-between {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
}

.column-around {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
