/**************
 *   COLORS   *
 **************/

$primary: #6563a4;
$primaryLight: #a9a7d6;
$secondary: #50d2c2;
$dark: #1d1d26;
$white: #fff;
$whiteOpaque: rgba($white,.7);
$gray: #97979a;
$lightgray: #eee;
$error: #B71C1C;


/*************
 *   FONTS   *
 *************/

$Avenir: "Avenir", "Helvetica Neue", Helvetica, sans-serif;
