/**************
 *   COLORS   *
 **************/

$primary: #6563a4;
$secondary: #50d2c2;
$dark: #1d1d26;
$white: #fff;
$gray: #97979a;


/*************
 *   FONTS   *
 *************/

$Avenir: "Avenir", "Helvetica Neue", Helvetica, sans-serif;
